PORT=3000
NODE_ENV=development
LOGGER_LEVEL=4
APP_NAME=nestjs-api
APP_VERSION=0.0.1
BUILD_NUMBER=local

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DATABASE_NAME=nestjsdb
MONGO_USERNAME=root
MONGO_PASSWORD=dbpass

VAPID_MAILTO=mailto:test@example.com
VAPID_PUBLIC_KEY=xxx
VAPID_PRIVATE_KEY=zzz
