AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
LITELLM_LOG=
LITELLM_MASTER_KEY=
OPENAI_API_BASE=
OPENAI_API_KEY=
OPENAI_ORGANIZATION=
MISTRAL_API_BASE=
MISTRAL_API_KEY=
HUGGINGFACE_API_KEY=
HUGGINGFACE_API_BASE=
MICRO_TRUECOLOR=1
OLLAMA_KEEP_ALIVE=5m
OLLAMA_MAX_LOADED_MODELS=2
GOOSE_PROVIDER=ollama
OLLAMA_HOST=localhost
GOOSE_ENABLE_ROUTER=false
GOOSE_CLI_MIN_PRIORITY=0.0
GOOSE_MODE=smart_approve
GOOSE_MODEL=devstral:latest
GOOSE_RECIPE_PATH=$HOME/.ai/recipes
CONTEXT_FILE_NAMES='[".cursorrules", "AGENTS.md", "GEMINI.md",  "CLAUDE.md", ".goosehints", "project_rules.txt"]'
