# Generic Colorizer Git Clone
grc

# GitConfig Private
.gitconfig_private

# General
.exports-private
.private_exports

.env*
!.env.example
.bash_history
!.bash_logout
**/*.log
**/logs/*
**/.migrations/*
/tmp
tmp/**/*
.bundle
.git/
.vscode*
.zed
.cursor

# Lots of junk goes in here.
**/cache*
**/Cache*
.cache*
/backup*
.backup*
**/buffers*
.fire*
**/gum*
**/*.bak

# Apple
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*

# Linux
*~
.directory
.Trash-*
Session.vim
.local/
.gnupg/
.pki/
.icons/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
.config/Code
!.config/Code/User/keybindings.json
!.config/Code/User/settings.json
.config/VSCodium
!.config/VSCodium/User/keybindings.json
!.config/VSCodium/User/settings.json
.config/Cursor
!.config/Cursor/User/keybindings.json
!.config/Cursor/User/settings.json

# Sass
.sass-cache

# NodeJS
node_modules/
node-debug.txt
npm-debug.txt
.npm
.bun

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Vagrant
.vagrant/
go/
.rust*
.cargo
.dotnet/
.docker

# working files
.vim/viminfo
.vim/swaps/*
.vim/undo

# git credential file
.gitconfig.local

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc
**/*python*

# fish shell
fishd.*
.config/fish/fish_history
.config/fish/fish_variables
fish/fish_history

# random
shilocation
.zoom


# Top secret stuff!
.ssh/id_*
.ssh/*.pem
.ssh/known_hosts*
.ssh/environment*
.ssh/master/*

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# Config
.config/BraveSoftware
.config/gcloud
.gemini/*
!.gemini/settings.json

.config/doublecmd/*
!.config/doublecmd/doublecmd.xml
.config/copyq/*
!.config/copyq/copyq.conf
