# Private settings in include file
[include]
  path = ~/.gitconfig.local
[init]
	defaultBranch = main
[advice]
  defaultBranchName = false
[user]
  name = Vadym Parakonnyi
  email = v.parakonnyi@gmail.com
  username = voznik
  IdentityFile = ~/.ssh/id_rsa
[core]
  editor = micro --wait
  compression = 9
  excludesfile = ~/.gitignore
  filemode = false
  pager = delta
[branch]
  autosetuprebase = always
[push]
  default = simple
[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix
[rebase]
  autoStash = true
[credential]
  helper = cache -- timeout=3600
[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1
[merge "mergiraf"]
  name = mergiraf
  driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[mergetool]
  keepBackup =
[interactive]
    diffFilter = delta --color-only --features=interactive
# https://github.com/dandavison/delta?tab=readme-ov-file#side-by-side-view-1
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
    hyperlinks = true
    # hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    hyperlinks-file-link-format = "zed://file/{path}:{line}"
    file-decoration-style = none
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  # commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  # hunk-header-decoration-style = blue box
  # hunk-header-file-style = red
  # hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
[diff]
    colorMoved = default
[merge]
    conflictStyle = zdiff3
[alias]
  # List Aliases
  la = git alias

  # Logs
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  fl = log -u
  filelog = log -u
  lol = log --oneline --graph --decorate
  lag = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  list = diff --name-only $GIT_PREVIOUS_COMMIT $GIT_COMMIT

  # Quickies
  ra = remote add origin
  roa = remote add origin
  us = --set-upstream origin

  # Main
  br = branch
  ci = commit
  cm = commit -m
  cl = clone
  co = checkout
  cp = cherry-pick
  aa = add --all
  st = status

  # Diff
  dift = difftool -d
  diff = diff -d
  difw = diff --word-diff
  ds = diff --stat
  dc = diff --cached
  dlc = diff --cached HEAD^

  # Find filepath in Codebase
  # $ git f pattern
  f = "!git ls-files | grep -i"

  # Seach entire codebase for a string
  # git gr specialcode  (Can reutrurn many retults!)
  grep = grep -Ii

  # Resets
  r = reset
  r1 = reset HEAD^
  r2 = reset HEAD^^
  rh = reset --hard
  rh1 = reset HEAD^ --hard
  rh2 = reset HEAD^^ --hard

  # Stashes
  sl = stash list
  sa = stash apply
  ss = stash save

  # Submobules
  smod = submodule # smod init, smud update
# URL shorthands
[url "git@gitlab.com:"]
  insteadOf = "gl:"
  pushInsteadOf = "gitlab:"
  pushInsteadOf = "git@gitlab.com:"
[url "git@gitlab.com:"]
  insteadOf = "gitLab:"
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git://bitbucket.org/"]
  insteadOf = "bitbucket:"
[url "git@bitbucket.org:"]
  insteadOf = "bb:",
  pushInsteadOf = "bitbucket:"
  pushInsteadOf = "git://bitbucket.org/"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "https://github.com/dracula/"]
  insteadOf = dracula://
###
[color]
  ui = auto
[color "branch"]
  current = cyan bold reverse
  local = white
  plain =
  remote = cyan
# [color "diff"]
#   commit =
#   func = cyan
#   plain =
#   whitespace = magenta reverse
#   meta = white
#   frag = cyan bold reverse
#   old = red
#   new = green
[color "grep"]
  context =
  filename =
  function =
  linenumber = white
  match =
  selected =
  separator =
# [color "interactive"]
#   error =
#   header =
#   help =
#   prompt =
[color "status"]
  added = green
  changed = yellow
  header =
  localBranch =
  nobranch =
  remoteBranch = cyan bold
  unmerged = magenta bold reverse
  untracked = red
  updated = green bold
