[Desktop Entry]
Type=Application
Exec=/usr/bin/albert
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
Name[en_US]=Albert
Name=Albert
Comment[en_US]=albert
Comment=albert
