[Desktop Entry]
Type=Application
Exec=/usr/bin/indicator-netspeed-unity
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=Netspeed
Name=Netspeed
Comment[en_US]=/usr/bin/indicator-netspeed-unity
Comment=/usr/bin/indicator-netspeed-unity
