[Desktop Entry]
Type=Application
Exec=/usr/bin/safeeyes
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=Safeeyes
Name=Safeeyes
Comment[en_US]=
Comment=
