[Desktop Entry]
Name=ScreenCloud
Comment=Capture and share screenshots easily
Icon=screencloud
Type=Application
Exec=/usr/bin/screencloud-1.3.0.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
