[Desktop Entry]
Type=Application
Exec=/usr/bin/slack
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
X-GNOME-Autostart-Delay=30
Name[en_US]=Slack
Name=Slack
Comment[en_US]=Slack
Comment=Slack
