#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Google Chrome
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet

Exec=/usr/bin/google-chrome-stable --remote-debugging-port=9222 --unsafely-treat-insecure-origin-as-secure=https://localhost:4200 %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;

[Desktop Action new-window]
Name=New Window

Exec=/usr/bin/google-chrome-stable --incognito
